* {
	padding: 0;
	margin: 0;
	font-family: Avenir Next;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #fe4877;
		--text: #0f172a;
		--background: #f8fafc;
		--background-2: #f1f5f9;
		--shadow: #80202060;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #fe4877;
		--text: #f8fafc;
		--background: #1e293b;
		--background-2: #334155;
		--shadow: #80606060;
	}
}



header {
	padding: 16px;
	background-color: var(--primary);
	color: #ffffff;
}

body > div,
footer {
	padding: 16px;
	background-color: var(--background);
	color: var(--text);
}
body {
	background-color: var(--background);
}
header,
footer {
	text-align: center;
}
body > div {
	min-height: 500px;
}

#profilePicture {
	height: 128px;
	width: 128px;
	border-radius: 64px;
	box-shadow: 0 2px 12px 0 var(--shadow);
	/* filter: drop-shadow(0 0 16px var(--shadow)); */
}
.icon {
	height: 16px;
	width: 16px;
	vertical-align: middle;
}
footer .icon {
	height: 32px;
	width: 32px;
	border-radius: 16px;
}


.flex-container {
	display: flex;
}
.flex-container > .row {
	width: 33.33%;
	padding: 8px;
}

a {
	color: var(--primary);
	text-decoration: none;
}


li {
	list-style-type: none;
}


.progress-bar {
	height: 24px;
	width: 160px;
	background-color: #e4e4ef;
	border-radius: 4px;
	margin: 4px 0;
}
.progress-bar > .progress {
	height: 24px;
	background-color: var(--primary);
	color: #ffffff;
	border-radius: 4px;
}
.progress > span {
	font-size: 16px;
	padding-left: 4px;
}
.progress > * {
	max-height: 16px;
	vertical-align: -2px;
}

.card {
	background-color: var(--background-2);
	border-radius: 24px;
}
.card > img,
.card > iframe {
	width: 100%;
	border: none;
	border-radius: 24px 24px 0 0;
	outline: none;
}
.card > p {
	padding: 8px 16px 16px;
}
.card > h2 {
	padding: 8px 16px;
}
	
@media only screen and (max-width: 640px) {
	.flex-container > .row {
		width: 50%;
	}
}
@media only screen and (max-width: 480px) {
	.progress-bar {
		height: 32px;
		width: 100%;
		border-radius: 6px;
	}
	.progress-bar > .progress {
		height: 32px;
		border-radius: 6px;
	}
	.progress > * {
		max-height: 24px;
		vertical-align: -6px;
	}
	
	.flex-container {
		display: inherit;
	}
	.flex-container > .row {
		width: 100%;
		padding: 0;
	}
	.card {
		padding: 8px;
		border-radius: 16px;
	}
	.card > img,
	.card > iframe {
		border-radius: 12px;
	}
}

