* {
	padding: 0;
	margin: 0;
	font-family: Avenir Next;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #8b5cf6;
		--text: #0f172a;
		--background: #f8fafc;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--primary: #64748b;
		--text: #f8fafc;
		--background: #1e293b;
	}
}

header,
body > div,
footer {
	padding: 16px;
	background-color: var(--background);
	color: var(--text);
}
header {
	text-align: center;
}

#profilePicture {
	height: 128px;
	width: 128px;
	border-radius: 64px;
	filter: drop-shadow(0 0 16px 0 #64748b);
}
.icon {
	height: 16px;
	width: 16px;
	vertical-align: middle;
}

a {
	color: #8b5cf6;
	text-decoration: none;
}
